---
interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<li class="px-3 py-1">
  <a
    href={href}
    class="flex gap-5 items-center a text-[#b3b3b3] hover:text-white h-[40px] font-bold transition-color duration-300"
  >
    <slot class="shrink-0" />
    <span class="truncate">{ text }</span>
  </a>
</li>
