---
import AsideMenuItem from "./AsideMenuItem.astro";
import AsideMenuCard from "./AsideMenuCard.astro";
import HomeIcon from "../icons/Home.astro";
import LibraryIcon from "../icons/Library.astro";
import SearchIcon from "../icons/Search.astro";

import { sidebarPlaylists } from "../lib/data";
---

<aside class="hidden lg:flex relative overflow-hidden">
  <nav class="flex flex-col gap-2 grow">
    <div class="bg-[#121212] rounded-lg">
      <ul class="flex flex-col px-3 py-2">
        <AsideMenuItem href="/" text="Home">
          <HomeIcon />
        </AsideMenuItem>
        <AsideMenuItem href="#" text="Search">
          <SearchIcon />
        </AsideMenuItem>
      </ul>
    </div>

    <div class="overflow-hidden grow bg-[#121212] rounded-lg">
      <ul class="flex flex-col gap-2 px-3 py-2">
        <AsideMenuItem href="#" text="Your library">
          <LibraryIcon />
        </AsideMenuItem>
      </ul>

      <ul class="flex flex-col overflow-y-auto h-full px-2 py-2">
        {sidebarPlaylists.map((playlist) => <AsideMenuCard playlist={playlist} />)}
      </ul>
    </div>
  </nav>

  <div class="absolute top-0 -right-2 h-full w-2 cursor-col-resize"></div>
</aside>
